duckdb
polars
openpyxl>=3.1.5
psycopg-binary
nats-py==2.7.2
dateparser==1.2.0
streamlit
jinja2==3.1.4
watchdog>=6.0.0
apscheduler==3.10.4
SQLAlchemy==1.4.53
requests==2.32.3
python-dotenv==1.0.1
pytest==8.1.1
portalocker
    